@charset "utf-8";

h1{
    color: #000000;
    font-size: 16px;
    font-weight: bold;
}

h2{
    font-size: 15px;
    border-left:10px solid #00008b;
    padding: 3px;
    font-weight: bold;
}

p{
    color: #000000;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    font-size: 14px;
}

h3{
    font-size: 15px;
    border-left: 10px solid #00008b;
    padding: 3px;
    font-weight: bold;
}

figure{
    float: left;
    margin: 5px;
    text-align: center;
}

figcaption{
    font-size: 10px;
    color: black;
    margin-top: 2px;
    display: block;
}
.clear{
    clear: both;
}

h4{
    font-size: 15px;
    border-left: 10px solid #00008b;
    padding: 3px;
    font-weight: bold;
}
